html {
    background-color: #f2f2f2;
}

.form {
    width: 100%;
}

.form h1 {
   text-align: center;
   color: #a8a8a8;
   margin-top: 100px;
}

form {
   max-width: 900px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 100px;
}

input, textarea {
     border:0; 
     outline:0;
     padding: 20px;
     margin: 20px; 
     border-radius: 8px;
     display: block;
     width: 100%;
     resize: none;
}
    
#input-submit {
     color: #333; 
     background: #52ccb4;
     cursor: pointer;
     max-width: 300px;
}
#input-submit:hover {
    
}
  
textarea {
      height: 125px;
}