@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #f7f7f7;    
}
a {
    text-decoration: none;
}
.header {
    margin-bottom: 50px;
}

.header .main-img{
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    max-height: 900px;
    z-index: -1;
    overflow: hidden;
}


.header .headerText {
    position: absolute;
    top: 17%;
    left: 10%;
}

.header h1{
    color: transparent;
    background: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.header h2{
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.header .headerText button {
    width: 200px;
    padding: 18px;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    color: white;
    background-color: #318b9d;
    transition: background .7s;
    font-size: 1.05em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.47);
}

.header .headerText button:hover {
    color: rgb(54, 158, 180);
    background-color:#fff;
    cursor:pointer;
}

.navbar {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-right: 100px;
}

.navbar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.navbar div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 20px 40px 10px 40px;
    transition: border-bottom .5s ease-in;
    font-family: 'Raleway', sans-serif;
}

.section1 {
    width: 100%;
    margin-top: -100px;
    padding-top: 100px;
    margin-bottom: 200px;
}
.section1-main {
    position: relative;
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    z-index: 10;
}

.section1-main img {
    width: 30%;
    border-right: 20px solid #ff8652; 
}

.section1-main div {
    width: 70%;
}

.section1-main div h3 {
    font-family: 'Raleway', sans-serif;
    color: #b3b3b3;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: justify;
}

#about-me-header-text {
    margin-bottom: -150px;
    font-family: 'Raleway', sans-serif;
    background-color: #c3c3c3;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5.5em;
    text-align: center;
}

.section2 {
    background-color: #fff;
    height: 180vh;
}

.skills-table {
    border-top: 3px solid #ff8652;
    border-bottom: 3px solid #ff8652; 
    padding: 30px 0px;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.17);
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.17);
    background-image: url(images/whiteShadowTriangles.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
 

#slant {
    position: relative;
    left: -200px;
    top: -65px;
    width: 130%;
    height: 150px;
    transform: rotate(5deg);
    background-color: #f7f7f7;
    box-shadow: 0px 13px 12px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 13px 12px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 13px 12px 0px rgba(0,0,0,0.16);
/*    border-top: 5px solid #FF8652;*/
}

#skills-header-text {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: #318b9d;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5.5em;
    text-align: center;
}

#skills-header-text2 {
    background-color: #c3c3c3;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.skills-table-language {
    display: flex;
    flex-direction: column;

}
.skills-table-titles {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20%;
}

.skills-table-titles h3 {
    margin-right: 10%;
}

.section2 h3 {
    color: #c3c3c3;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 400;
}

.skills-table-language div {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 60px;
}

.skills-table-language div h3{
    margin: 30px;
}
    
.skills-table-language div div {
    margin: 30px;
    margin-top: 36px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.21);
}

.start-html {
	width: 0px;
	-webkit-animation: html 2s ease-out forwards;
	   -moz-animation: html 2s ease-out forwards;
	    -ms-animation: html 2s ease-out forwards;
	     -o-animation: html 2s ease-out forwards;
	        animation: html 2s ease-out forwards;
}
.start-css {
	width: 0px;
	-webkit-animation: css 2s ease-out forwards;
	   -moz-animation: css 2s ease-out forwards;
	    -ms-animation: css 2s ease-out forwards;
	     -o-animation: css 2s ease-out forwards;
	        animation: css 2s ease-out forwards;
}
.start-php {
	width: 0px;
	-webkit-animation: php 2s ease-out forwards;
	   -moz-animation: php 2s ease-out forwards;
	    -ms-animation: php 2s ease-out forwards;
	     -o-animation: php 2s ease-out forwards;
	        animation: php 2s ease-out forwards;
}
.start-javascript {
	width: 0px;
	-webkit-animation: javascript 2s ease-out forwards;
	   -moz-animation: javascript 2s ease-out forwards;
	    -ms-animation: javascript 2s ease-out forwards;
	     -o-animation: javascript 2s ease-out forwards;
	        animation: javascript 2s ease-out forwards;
}
.start-wordpress {
	width: 0px;
	-webkit-animation: wordpress 2s ease-out forwards;
	   -moz-animation: wordpress 2s ease-out forwards;
	    -ms-animation: wordpress 2s ease-out forwards;
	     -o-animation: wordpress 2s ease-out forwards;
	        animation: wordpress 2s ease-out forwards;
}

@keyframes html {from {width: 0%;}to {width: 70%;}}
@keyframes css {from {width: 0%;}to {width: 63%;}}
@keyframes php {from {width: 0%;}to {width: 40%;}}
@keyframes javascript {from {width: 0%;}to {width: 50%;}}
@keyframes wordpress {from {width: 0%;}to {width: 73%;}}

#slant2 {
    position: relative;
    left: -200px;
    top: -65px;
    width: 130%;
    height: 100px;
    transform: rotate(-3deg);
    background-color: #f7f7f7;
    box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
}
#work-header-text {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: #c3c3c3;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5.5em;
    text-align: center;
}
#work-header-text2 {
    background-color: #ff8652;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/epicBG.png");
    background-repeat: repeat;
    background-position: center top;
}

.portfolio h2{
    background-color: none;
    position: absolute;
    bottom: 0%;
    left: 2%;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 5em;
}

.portfolio div img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.tint {
    position: relative;
    float: left;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 0px 70px -34px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 0px 70px -34px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 70px -34px rgba(0,0,0,0.32);
    text-align: center;
    margin: 75px 0px;
    border-radius: 20px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.8);
  transition: background .5s linear;
  border-radius: 20px;
}

.tint:hover:before {
  background: none;
}

.tint:hover h2 {
  display: none;
}

h2:hover .tint:before{
  background: none;
}

@-webkit-keyframes rotateClock /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateClock {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotateClock {
  -webkit-animation: rotateClock 2s linear infinite;
  -moz-animation: rotateClock 2s linear infinite;
  -ms-animation: rotateClock 2s linear infinite;
  -o-animation: rotateClock 2s linear infinite;
  animation: rotateClock 2s linear infinite;
}

@-webkit-keyframes rotateCounter /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotateCounter {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotateCounter {
  -webkit-animation: rotateCounter 2s linear infinite;
  -moz-animation: rotateCounter 2s linear infinite;
  -ms-animation: rotateCounter 2s linear infinite;
  -o-animation: rotateCounter 2s linear infinite;
  animation: rotateCounter 2s linear infinite;
}

.lines-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lines-row div {
    width: 38%;
    height: 20px;
}

.lines-row div:nth-child(1) {
    border-bottom: #318b9d 5px solid;
    justify-content: flex-start;
}
.lines-row div:nth-child(2) {
    border-bottom: #ff8652 3px solid;
    align-self: center;
}
.lines-row div:nth-child(3) {
    border-bottom: #c3c3c3 2px solid;
    align-self: flex-end;
}