@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}
.header {
    margin-bottom: 50px;
}

.header .main-img{
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    max-height: 900px;
    z-index: -1;
    overflow: hidden;
}


.logo {
    position: fixed;
    top: 0px;
    left: 10px;
    width: 90px;
    z-index: 10;
    margin-top: 1px;
}

.header .headerText {
    position: absolute;
    top: 17%;
    left: 10%;
}

.header h1{
    color: transparent;
    background: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.header h2{
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.header .headerText button {
    width: 200px;
    padding: 18px;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    color: white;
    background-color: rgb(49, 139, 157);
    transition: background .7s;
    font-size: 1.05em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.47);
}

.header .headerText button:hover {
    color: rgb(54, 158, 180);
    background-color:#fff;
    cursor:pointer;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-right: 100px;
}

.navbar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.navbar div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 20px 40px 10px 40px;
    transition: border-bottom .5s ease-in;
    font-family: 'Raleway', sans-serif;
}

.section1 {
    height: 1000px;
    width: 100%;
    margin-top: -100px;
    background-color: #f7f7f7;
    padding-top: 150px;
}
.section1-main {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
}

.section1-main img {
    width: 30%;
    border-right: 20px solid rgb(49, 139, 157); 
}

.section1-main div {
    width: 70%;
}

.section1-main div h3 {
    font-family: 'Raleway', sans-serif;
    color: #b3b3b3;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
