@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}


html {
    overflow-x: hidden;
}

body {
    background-color: #f7f7f7;    
}
a {
    text-decoration: none;
}

.hide {
    display: none;    
}


label{
    display:flex;
    align-items: flex-end;
    flex-direction:column;
    width:70px;
    cursor:pointer;
}

label span{
  background: #000;
  border-radius:15px;
  height: 4px;
  margin: 4px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1){
  width:35%;
}

span:nth-of-type(2){
  width:73%;
}

span:nth-of-type(3){
  width:55%;
}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(-45deg) translate(-7px,-2px);
    width: 15%;
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){  
    transform-origin:top;
    transform:rotatez(45deg);
    width: 53%;
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(-16px,-6px) rotatez(-45deg);
    width: 35%;
}

.header {
    height: 100vh;
    width: 100vw;
    background-image: url(images/headerImg.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #ffffff;
}


.header .headerText {
    position: absolute;
    left: 10%;
    top: 20%;
}

.header h1{
    color: transparent;
    background: #000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.header h2{
    color:#000;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.box-text {
    padding: 20px;
    transform: rotateZ(-10deg);
    font-size: 1em;
    box-shadow: 1px 1px 1px #f1f1f1,
        0px 5px 0px #f1f1f1,
        0px 6px 0px #f1f1f1,
        0px 7px 0px #f1f1f1,
        0px 8px 0px #f1f1f1,
        0px 9px 0px #f1f1f1,
        0px 10px 0px #f1f1f1,
        0px 11px 0px #f1f1f1,
        0px 12px 0px #f1f1f1,
        0px 13px 0px #f1f1f1,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    z-index: 10;
}

.cta-btn-header button {
    width: 200px;
    padding: 18px;
    border-radius: 100px;
    box-shadow: none;
    border: none;
    color: white;
    background-color: #10B1C9;
    transition: background .5s;
    font-size: 1.05em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    box-shadow: 0px 15px 40px 0px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0px 15px 40px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 15px 40px 0px rgb(0 0 0 / 30%);
}

.cta-btn-header button:hover {
    color: #10B1C9;
    background-color: #fff;
    cursor:pointer;
}

.open {
    right: 15px;
    top: 15px;
    transition: opacity .5s ease-in-out;
}
.open:hover {
    opacity: .6;
}

.closed {
    right: 50px;
    top: 50px;
}
.closed:hover > span:nth-of-type(1) {
    width: 65%;
} 
.closed:hover > span:nth-of-type(2) {
    width: 65%;
} 
.closed:hover > span:nth-of-type(3) {
    width: 65%;
} 

.navbar .hamburger {
    position: absolute;
    transition: .5s ease;
}

.navbar .nav-content:nth-child(1) {
    padding-left: 30px;   
}

.navbar .nav-content {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 30%; 
    position: absolute;
    top: -100px;
    right: 0%;
    padding-right: 60px;
    transition: .5s ease;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 4px);
    background-image: url(images/triangle_border.png);
    background-size: cover;
}

.navbar .nav-content a {
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    padding: 20px 40px 20px 40px;
    -webkit-background-clip: text;
    font-family: 'Raleway', sans-serif;
    transition: color .4s ease-in-out;
    
    background-image: linear-gradient(90deg, #6E1D16, #E4DA1E, #D5347D, #15DAE7,#6E1D16, #E4DA1E, #D5347D, #15DAE7);
}
.navbar .nav-content a:hover {
    -webkit-background-clip: text;
    color: rgba(0,0,0,.1);
    cursor: pointer;
}
.about-me {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 130vh;  
}

.about-me-main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-main-content  {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 80px -1px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    z-index: 10;
    background-image: url(images/section1.png);
    background-position: right;
    background-size:cover;
    border-radius: 0px 100px 100px 0px;
    
}

@keyframes change-color-1 {
    0% {
        border-color: #318b9d; 
    }
    25% {
        border-color: #12D7E6;
    }
    50% {
        border-color: #CCE7A5;
    }
    75% {
        border-color: #594685;
    }
    90% {
       border-color: #15D9E1; 
    }
    100% {
        border-color: #318b9d;
    }
}
@keyframes change-color-2 {
    0% {
        border-color: #12D7E6; 
    }
    25% {
        border-color: #CCE7A5;
    }
    50% {
        border-color: #15D9E1;
    }
    75% {
        border-color: #2B293A;
    }
    100% {
       border-color: #12D7E6; 
    }
}
.about-me-main-content img {
    width: 30%;
    border-right: 20px linear-gradient(90deg, rgba(0,0,0,1) 39%, rgba(21,217,225,1) 100%) #000; 
}


.about-me-main-content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #a1a1a1;
    width: 70%;
    margin: auto;
    padding: 50px;
    line-height: 30px;
    text-align: justify;
}


.about-me-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
}
.header-indent h1 {
    font-family: 'Raleway', sans-serif;
    background-color: #c3c3c3;
    color: transparent;
    height: 100px;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5.5em;
    text-align: center;
}

#slant {
    position: relative;
    left: -200px;
    top: -65px;
    width: 130%;
    height: 225px;
    transform: rotate(5deg);
    background-color: #f7f7f7;
    box-shadow: 0px 13px 12px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 13px 12px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 13px 12px 0px rgba(0,0,0,0.16);
    z-index: 1;
/*    border-top: 5px solid #FF8652;*/
}

.my-skills {
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
     
}
.my-skills-header {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    position: sticky;
    top: 0;
    right: 0;
    overflow: hidden
}


.my-skills-header .right .sub-head {
    color:#a1a1a1;
    font-weight: 400;
    font-family: monospace;
    width: 75%;
    margin-top: 75px;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

.my-skills-header .right .sub-head p {
    font-size: 1.6em;
}

.sub-head code {
    font-size: 1.6em;
}


.my-skills .right {
    display: flex;
    width: 50%;
    height: 100vh;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.my-skills .left {
    display: flex;
    position: relative;
    width: 50%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
    background-color: #333333;
}

.left {
    max-height: 100vh;
}

.left .scroll {
    width: 100%;
    height: auto;
}

.left-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);
}

.left h1 {
    color: #f2f2f2;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
    filter: drop-shadow(rgba(0, 0, 0, 1) 0px 2px 4px);
}

.left .text-header {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 3px;
    width: 50%;
    
}

.left p {
    padding: 20px;
    line-height: 30px;
    color: #f2f2f2;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
}

.left p.text {
    text-align: left;
}

.left p.text a{
    color: #fff;
    text-decoration: underline;
}
.left p.text a:hover{
    cursor: pointer;
}

.red {
    color: #E2777A;
}

.green {
    color: #7EC699;
}

#slant2 {
    position: relative;
    left: -200px;
    top: -65px;
    width: 130%;
    height: 100px;
    transform: rotate(-3deg);
    background-color: #f7f7f7;
    box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
}
#work-header-text {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: #c3c3c3;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 5.5em;
    text-align: center;
    margin-bottom: 100px;
}
#work-header-text2 {
    background-color: lightblue;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.portfolio {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#f7f7f7, #318b9d);
}

.portfolio a {
    display: flex;
    margin-bottom: 100px;
    width: 47%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.54);
    border-radius: 20px;
}

.portfolio h2 {
    background-color: transparent;
    position: absolute;
    bottom: 0%;
    left: 2%;
    text-align: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 5em;
}

.portfolio div img{
    width: 100%;
    border-radius: 20px;
}

.tint {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 0px 70px -34px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 0px 70px -34px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 70px -34px rgba(0,0,0,0.32);
    text-align: center;
    border-radius: 20px;
    height: 90%;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.8);
  transition: background .5s linear;
  border-radius: 20px;
}

.tint:hover:before {
  background: transparent;
}

.tint:hover h2 {
  display: none;
}

h2:hover .tint:before{
  background: transparent;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    background-color: #10B1C9;
    padding: 100px;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -13px 12px 0px rgba(0,0,0,0.16);
}
