/* Color Scheme
Dark-Grey: #657373
Bright-blue: #8EF3F4
Light-blue: #D5F2F2
Dark-Green/blue: #127375
Blueish Grey: #A8BFBF
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav {
    position: fixed;
    display: block;
    width: 100%;
    background-color: none;
    z-index: 10;
}

.nav a {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-size: 1.3em;
    color: #127375;
    margin-right: 20px;
    transition-property: color;
    transition-duration: .5s;
}

.nav div {
    background-color:rgba(213, 242, 242, .9);
    padding: 16px;
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    width: 100%;
    text-align: right;
}

.nav div a:nth-child(5){
    padding-right: 100px; 
    background-color: #127375;
    color: #D5F2F2;
    transition-property: background;
    transition-duration: .5s; 
}
.nav div a:nth-child(5):hover {
    background-color: rgba(18, 115, 117, .8);
}

.nav a:hover {
    color: #A8BFBF;
}

.header {
    display: block;
    background-image: url(images/header.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 10%;
    font-size: 2em;
    width: 30%;
    color: #D5F2F2;
    background-color: rgba(18, 115, 117, .8);
    padding: 20px;
    border-bottom: #D5F2F2 solid 2px;
}

.section1 .circles{
    position: relative;
    display: block;
    z-index: 1;
    background-image: url(images/circles.png);
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 {
    margin-top: -80px;
    margin-right: -200px; 
}


.sites {
    
}