/*#a6ffe2*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
    font-family: "Muli", sans-serif;
    margin:0;
    padding:0;
}

html {
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sidenav {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: none;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: left;
    margin-left: 30px;
    width: 300px;
}

.sidenav a {
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
    color: #444;
    width: 300px;
}

.active {
    font-weight: 900;
}
.active:before {
    content: '\258D ';
}

.sidenav a:hover {
    color: #52ccb4;
}


nav {
    position: fixed;
    z-index: 1;
    padding: 0;
    width: 102%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    height: 60px;
    border-radius: 0px 0px 10px 0px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav img {
    width: 70px;
    height: 70px;
    display: block;
}

.main-content h1 {
    font-size: 4em;
}

.main-content {
    display: flex;
}

.main-content .text{
    padding: 80px;
    background-color: rgba(0,0,0,0);
}

.main-content p{
    padding-bottom: 80px;
    font-size: 1.1em;
}

.main-content img{
    width: 100%;
}

.courses {
    padding-top: 80px;
    width: 200px;
    border-left: #a6ffe2 solid 3px;
}

.courses div {
    width: 200px;
    margin: 20px;
    height: 150px;
    font-size: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: 'Baloo 2', cursive;
    transition: all .5s;
}

.courses div:hover{
    margin-left: 10px;
    background-color: #dedede;
    cursor: pointer;
}

.courses div img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    padding-bottom: 10px;
    border-top: 7px solid #a6ffe2;
    padding-bottom: 10px;
}

.footer div {
    margin-top: 30px;
    color: #333;
}

.footer div p {
    padding: 5px;
}

.footer div a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    transition-property: padding;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.footer div p a {
    padding: 5px;
    border: none;
}

.footer div a:hover {
    padding-bottom: 3px;
}

.footer div p a:hover {
    color: #999;
}